.column-name {
  position: relative;
  z-index: 50;
  border-bottom: 0;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
}

.column-name__name {
  display: flex;
  margin-right: 16px;
  pointer-events: all;
}

.column-name__type {
  color: orange;
  font-family: monospace;
}

.column-name__description {
  display: none;
  position: absolute;
  top: 50%;
  right: -6px;
  width: 150px;
  transform: translateX(100%) translateY(-50%);
  padding: 8px;
  z-index: 1000;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1.2;
}

.column-name__inner {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 100px;
  position: relative;
  align-items: center;
}

.column-name:last-child {
  border-bottom: 0 !important;
  border-radius: 0 0 4px 4px;
}

.column-name:hover {
  background-color: #3c3c3c;
  opacity: 1;
}

.column-name--selected .column-name__description {
  display: block;
  opacity: 1;
}
